<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pizzas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngFor="let aux of listaPizzas" [routerLink]="['/pizzas/detail/', aux.id]">
      <ion-avatar slot="start">
        <ion-img [src]=""></ion-img>
      </ion-avatar>
      <ion-label>{{ aux.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon (click)="addPizza()" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
