<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centrado">PIZZERÍA DUOC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRst4BREzA17rOrZBKWAkW87tf9gIVdvpqBDQ&usqp=CAU" />
    <ion-card-header>
      <ion-card-subtitle>Bievenido a la pizzería</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content [formGroup]="loginForm">
      <ion-input [(ngModel)]="emailValue" formControlName="email" errorText="Correo inválido" label="Ingrese Correo" label-placement="floating" fill="outline" placeholder="Email" type="email"></ion-input>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('required')">
        El correo es requerido.
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('email')">
        Ingrese un email válido.
      </ion-text>
      <ion-input [(ngModel)]="passwordValue" formControlName="password" label="Ingrese Password" label-placement="floating" fill="outline" placeholder="Password" type="password"></ion-input>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es requerida.
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">
        La contraseña debe tener al menos 6 caracters.
      </ion-text>
      <ion-button expand="block" (click)="login()">Acceder</ion-button>
      <ion-button expand="block" fill="outline" (click)="register()">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="this.getRandomUsers()">Crear cuentas de usuarios</ion-button>
</ion-content>
