<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/pizzas"></ion-back-button>
      <ion-title>Agregar</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Pizza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="pizza.nombre" type="text" label="Nombre" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="pizza.tipoId" label="Tipo:" placeholder="Favorite Fruit">
          <ion-select-option value="lKBajmeCBs9zJQAEnmEs">Todas las carnes</ion-select-option>
          <ion-select-option value="hUsQOfQHvWv5EQic3QaS">Vegana</ion-select-option>
        </ion-select>
        
      </ion-item>
      <ion-button color="primary" (click)="addPizza()">Agregar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
